@page "{id:int}"
@using Castle.Core.Internal
@model Algenic.Areas.Contests.Pages.EditModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="col-12">
    <h2>Edit @Model.ContestViewModel.Name</h2>
    <hr />

    <div class="row page-section">
        <div class="col-6">
            <h5>Rename contest</h5>
            <form asp-page-handler="save" method="post">
                <fieldset disabled='@(Model.ContestViewModel.HasBegun ? "disabled": null)'>
                    <div class="form-group">
                        <input asp-for="ContestViewModel.Name" class="form-control"/>
                        <!--<input type="hidden" asp-for="ContestId" />-->
                    </div>
                    <input type="submit" value="Save" asp-page-handler="Rename" class="btn btn-outline-dark"/>
                </fieldset>
            </form>
        </div>

        <div class="col-6">
            <h5>Status: <strong>@Model.ContestViewModel.Status</strong></h5>
            <div class="row multiple-choices-row">
                @foreach (var statusButton in Model.StatusButtons)
                {
                    <form method="post" asp-page="Edit">
                        <input type="hidden" name="newStatus" value="@statusButton.NewState" />
                        <input type="submit" value="@statusButton.Label" asp-page-handler="ChangeStatus" class="btn btn-outline-dark" />
                    </form>
                }
            </div>
        </div>
    </div>

    <div class="row page-section">
        <div class="col-6">
            <h5>Add a new task</h5>
            <form asp-page-handler="AddTask" method="post">
                <fieldset disabled='@(Model.ContestViewModel.HasBegun ? "disabled" : null)'>
                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="FormTask.Name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea asp-for="FormTask.Description" class="form-control" cols="40" rows="5"></textarea>
                    </div>
                    <input type="submit" value="Add" class="btn btn-outline-dark"/>
                </fieldset>
            </form>
        </div>

        <div class="col-6">
            <h5>Already uploaded solutions@(Model.ContestSolutions.Users.IsNullOrEmpty() ? ": None!" : "")</h5>
            <ul>
                @foreach (var keyValue in Model.ContestSolutions.Users)
                {
                    <li>Solved by @keyValue.Value.UserName:
                        <ul>
                            @foreach (var task in keyValue.Value.Tasks)
                            {
                                <li>"@task.Name"</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="col-12 page-section">
        <table class="table">
            <tr>
                <th width="30%">Name</th>
                <th width="50%">Description</th>
            </tr>

            @foreach (var task in Model.TasksToDisplay)
            {
                <tr>
                    <td width="30%">
                        @task.Name
                    </td>
                    <td width="50%">
                        @task.Description
                    </td>
                    <td width="20%">
                        <div class="row multiple-choices-row">
                            <form asp-page-handler="EditTask" method="post">
                                <fieldset disabled='@(Model.ContestViewModel.HasBegun ? "disabled": null)'>
                                    <input type="submit" value="Edit" class="btn btn-outline-dark"/>
                                    <input type="hidden" name="taskId" value="@task.Id"/>
                                </fieldset>
                            </form>
                        
                            <form asp-page-handler="RemoveTask" method="post">
                                <fieldset disabled='@(Model.ContestViewModel.HasBegun ? "disabled": null)'>
                                    <input type="submit" value="Remove" class="btn btn-outline-danger"/>
                                    <input type="hidden" name="taskId" value="@task.Id"/>
                                </fieldset>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
