@page
@using Algenic.Data.Models
@model Algenic.Areas.Contests.Pages.IndexModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h4>Contests</h4>
        @if (Model.CanAddContest)
        {
            <div class="col-6" style="margin-bottom: 30px;">
                <form asp-page-handler="create" method="post" id="form-add-group">
                    <h6>Create a new contest</h6>
                    <div class="form-group">
                        <label>Contest Name</label>
                        <input asp-for="ContestName" class="form-control" />
                    </div>
                    <input type="submit" value="Send" class="btn btn-outline-dark" />
                </form>
            </div>
        }
        <table class="table" id="contest-table">
            <tr>
                <th width="50%">Name</th>
                <th width="20%">Author</th>
                <th width="10%">Status</th>
                <th width="20%"></th>
            </tr>

            @foreach (var contest in Model.Contests)
            {
                <tr>
                    <td width="50%">
                        @contest.Name
                    </td>
                    <td width="20%">
                        @contest.Author
                    </td>
                    <td width="10%">
                        @ContestStatusNames.GetReadableName(contest.Status)
                    </td>
                    @if (contest.CanJoin)
                    {
                        <td width="20%">
                            <form asp-page-handler="join" method="post">
                                <input type="submit" value="Join" class="btn btn-outline-dark" />
                                <input type="hidden" name="contestId" value="@contest.Id" />
                            </form>
                        </td>
                    }
                    @if (contest.CanEdit)
                    {
                        <td width="10%">
                            <form asp-page-handler="edit" method="post">
                                <input type="submit" value="Edit" class="btn btn-outline-dark" />
                                <input type="hidden" name="contestId" value="@contest.Id" />
                            </form>
                        </td>
                        <td width="10%">
                            <form asp-page-handler="delete" method="post">
                                <input type="submit" value="Delete" class="btn btn-outline-danger"/>
                                <input type="hidden" name="contestId" value="@contest.Id"/>
                            </form>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>