@page "{id:int}"
@model Algenic.Areas.Contests.Pages.ResultsModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <ul>
            @foreach (var user in Model.UsersResults)
            {
                <li>Username: @user.Username</li>
                <li>Position: @user.Position</li>
                <li>Total score: @user.UserScore points</li>
                <li>
                    Tasks:
                    <ul>
                        @foreach (var taskResult in user.TaskResults)
                        {
                            <li>
                                @taskResult.TaskScore.TaskName: @taskResult.TaskScore.Score points
                                <ul>
                                    @foreach (var testResult in taskResult.TestResults)
                                    {
                                        <li>
                                            Test: @testResult.TestName
                                            <ul>
                                                <li>Input: @testResult.Input</li>
                                                <li>Output: @testResult.Output</li>
                                                <li>Passed: @testResult.Passed</li>
                                                @if (!testResult.Passed)
                                                {
                                                    <li>Expected output: @testResult.ExpectedOutput</li>
                                                }
                                                <li>CPU time: @testResult.CpuTime</li>
                                                <li>Memory usage: @testResult.MemoryUsage</li>
                                                <li>Status code: @testResult.StatusCode</li>
                                                <li>Error message: @testResult.ErrorMessage</li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>
