@page "{id:int}"
@model Algenic.Areas.Contests.Pages.ResultsModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">

        @foreach (var user in Model.UsersResults)
        {
            <h4>#@user.Position @user.Username (Score: @user.UserScore)</h4>
            <div class="row col-12">
                <div class="col-10" style="margin-left: auto">
                    <table class="table">
                        <tr>
                            <th>Status</th>
                            <th>CPU time</th>
                            <th>Memory usage</th>
                            <th>Additional</th>
                        </tr>

                        @foreach (var taskResult in user.TaskResults)
                        {
                            <tr><td colspan="4">Task @taskResult.TaskScore.TaskName (@taskResult.TaskScore.Score points)</td></tr>
                            @if (taskResult.TestResults.Count() == 0)
                            {
                                <tr><td colspan="4">Solution for task @taskResult.TaskScore.TaskName has not been sent.</td></tr>
                            }
                            @foreach (var testResult in taskResult.TestResults)
                            {
                                <tr>
                                    <td>
                                        @if (testResult.Passed)
                                        {
                                            <span class="text-success">"@testResult.Input" &#8594; "@testResult.Output"</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">"@testResult.Input" &#8594; "@testResult.Output"</span>
                                            <span>(expected output: "@testResult.ExpectedOutput")</span>
                                        }
                                    </td>
                                    <td>@testResult.CpuTime</td>
                                    <td>@testResult.MemoryUsage</td>
                                    <td>
                                        @if (testResult.ErrorMessage != "N/A" || testResult.StatusCode != "N/A")
                                        {
                                            <span>Compilation finished with status @testResult.StatusCode. Message: @testResult.ErrorMessage</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        }
    </div>
</div>
